<!DOCTYPE html>
<html>
<head>
  <title>Marine Mammal Knowledge Test</title>
   <meta name="viewport" content="width=device-width,initial-scale=1" >

  <link href='static/style.css' rel='stylesheet'>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/69f7465c1a.js" crossorigin="anonymous"></script>
</head>
<body id="kqboday823">
  
  <div class="kqbox">
    <h1 id="kqheader00893">Now is the time to test yourself!</h1>
    <br/>
    <div>
      <a href="/">
        <button type='button' class='backToMainBtn'>Return to main page!</button>
      </a>
    </div>
    <br/>                                    
    <p id="kqintro-p14182">Lets learn about animals!<br/>Be sure to Capitalized the first word!</p>
    <br/>
    <div id="factDisplay">
      What have you learned?<br/>
      Answer the questions to rescue our friends!
    </div>
    <div id="answerDisplay">
      
      <!-- <button onclick="correctAnswer()">Hint</button> -->
      <p id="correctAnswer" style="display: none;">
      </p>
    </div>
    <div id="userInput987012">
    </div>
    <br/>
    <div id="buttons12376">
    <button class="newGameBtn" id="startBtn" onclick="newQ(0)">Start!</button>
    </div>
  </div>

  <script src='static/script.js'></script>
</body>
</html>