<!DOCTYPE html>
<html>
  <head>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <title>Python webgame</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <script>
      $(document).ready(function() {
        $.ajax({
          url: "/submit",
          type: "GET",
          success: function(response) {
            $("#answer-container").text('Please select the image of ' + response);
          },
          error: function(error) {
            console.log(error);
          }
        });
      });
    </script>
    <h1 id="answer-container"></h1> 
    <div id="options">
      {% for key, value in options.items() %}
      <label>
        <input
          type="radio"
          name="answer"
          value="{{ key }}"
        />
        <img src="{{ value }}" />
      </label>
      {% endfor %}
    </div>
    <button id="submit-btn">submit</button>
    <div id="result"></div>
    <script>
      $(function () {
        $("#submit-btn").click(function () {
          var answer = $('input[name="answer"]:checked').val();
          if (answer) {
            $.ajax({
              url: "/submit",
              method: "POST",
              data: { answer: answer },
              success: function (data) {
                $("#result").text(data.result + " The correct answer: " + data.answer);
              },
            });
          }
        });
      });
    </script>
  </body>
</html>
